@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --font-boska-light: 'Boska Light';
    --font-switzer-light: 'Switzer Light';
    --scroll-behavior: smooth!important;
    scroll-behavior: smooth!important;
}

body {
    font-family: var(--font-switzer-light);
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-boska-light);
}

img {
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
